body{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.look{
  
   background-image: url(./Images/gettyimages-1280517978-2048x2048.webp);
   background-size: cover;
   height: 600px;
   background-position: 100%;
   width: 100%; 
  
 }

 .look h2{
 text-align: center;
color: #fafafa;
 }

 
 /* height: 600px; */

 #shadow-prods {
  list-style-type: none;
 }

 #shadow-prods li {
  background-color: gray;
/* width: 15%; */
padding: 1em;
margin: 1px;
cursor: pointer;
 }
 .images-container {
  display: flex;
  justify-content: space-around;
 }
 #love {
  width: 500px;
  height: 500px;
 }